body {
  background-color: whitesmoke;
}

#form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#input {
  flex-grow: 3;
}

#add-button, #del-button, #del-selected-button {
  flex-grow: 2;
  margin: 5px;
}

.selected {
  color: darkgrey;
}
